@page "/new-application"
@attribute [Authorize(Roles = "Officer")]
@using CleaningAppWeb.Components.Models
@using CleaningAppWeb.Components.Shared.Button
@using CleaningAppWeb.Components.Shared.CheckboxDropdown
@using CleaningAppWeb.Components.Shared.Inputs
@using CleaningAppWeb.Components.Shared.Inputs.Checkbox
@using CleaningAppWeb.Components.Shared.Inputs.Input
@using CleaningAppWeb.Components.Shared.Inputs.TextArea
@using CleaningAppWeb.Components.Shared.RadioDropdown
@using CleaningAppWeb.Domain.DTOs
@using System.Globalization
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer

<PageTitle>Создание заявки</PageTitle>

<div class="new-application-page">
    <div class="new-application-card">
        <div class="d-flex flex-column gap-2">
            <Checkbox DisplayText="Заполнить поля на основе данных пользователя" 
                      Checked="_setUserData" 
                      OnClick="SetUserData" />
            <div class="d-flex flex-row gap-5">
                <Input Label="Имя" 
                       Placeholder="Введите имя" 
                       IsDisabled="_setUserData" 
                       Value="@(_setUserData ? _userFirstName : CreateRequest.ClientFirstName)"
                       ValueChanged="(value) => CreateRequest.ClientFirstName = value"
                       ErrorMessage="@_errors.GetValueOrDefault("firstName")"/>
                <Input Label="Фамилия" 
                       Placeholder="Введите фамилию" 
                       IsDisabled="_setUserData" 
                       Value="@(_setUserData ? _userLastName : CreateRequest.ClientLastName)"
                       ValueChanged="(value) => CreateRequest.ClientLastName = value"
                       ErrorMessage="@_errors.GetValueOrDefault("lastName")" />
                <Input Label="Отчество" 
                       Placeholder="Введите отчество" 
                       IsDisabled="_setUserData" 
                       Value="@(_setUserData ? _userPatronymicName : CreateRequest.ClientPatronymic)"
                       ValueChanged="(value) => CreateRequest.ClientPatronymic = value"
                       ErrorMessage="@_errors.GetValueOrDefault("patronymic")" />
            </div>
            <div class="d-flex flex-row gap-4">
                <Input Label="Контактный номер" 
                       Placeholder="Введите номер телефона" 
                       IsDisabled="_setUserData" 
                       Value="@(_setUserData ? _userTelephoneNumber : CreateRequest.ClientTelephoneNumber)"
                       ValueChanged="(value) => CreateRequest.ClientTelephoneNumber = value"
                       ErrorMessage="@_errors.GetValueOrDefault("telephoneNumber")" />
                <RadioDropdown T="OfficeDTO" 
                               Label="Адрес офиса" 
                               Placeholder="Выберите адрес офиса" 
                               DataLoaderMethod="async (page, searchText) => await OfficesService.GetOfficesAsync(page, searchText: searchText)"
                               Value="_selectedOffice"
                               ValueChanged="(value) => SelectOffice(value)"
                               DebounceDelay="500"
                               ErrorMessage="@_errors.GetValueOrDefault("office")" />
            </div>
        </div>
        <div class="d-flex flex-row w-100 gap-4">
            <div class="d-flex flex-column w-50 gap-2">
                @{
                    var officeHasSelected = _selectedOffice is not null;
                    <CheckboxDropdown T="RoomDTO"
                                      Label="Кабинеты"
                                      Placeholder="@(officeHasSelected ? "Выберите кабинеты" : "Сперва выберите офис")"
                                      DataLoaderMethod="officeHasSelected
                                            ? async (page, searchText) => await RoomsService.GetRoomsAsync(page, officeId: _selectedOffice?.Id, searchText: searchText)
                                            : null"
                                      SelectedValues="_selectedRooms"
                                      SelectedValuesChanged="(value) => SelectRooms(value)"
                                      IsDisabled="!officeHasSelected"
                                      DebounceDelay="500"
                                      ErrorMessage="@_errors.GetValueOrDefault("rooms")" />
                }
                <Input InputType="InputType.Date" 
                       Label="Дата" 
                       Placeholder="Введите дату уборки" 
                       Value="@_selectedDateString"
                       ValueChanged="SelectDate"
                       ErrorMessage="@_errors.GetValueOrDefault("date")" />
                @{
                    var timeDisabled = CreateRequest.CleaningDate == DateOnly.MinValue;
                    <RadioDropdown T="ValueSelectableItem<TimeOnly>"
                                   AllValues="_availableTime"
                                   Label="Время"
                                   Placeholder="@(timeDisabled ? "Сперва выберите дату уборки" : "Выберите время уборки")"
                                   IsDisabled="timeDisabled"
                                   Value="_selectedTime"
                                   ValueChanged="SelectTime"
                                   ErrorMessage="@_errors.GetValueOrDefault("time")" />
                }
                <TextArea Label="Комментарий (при необходимости)" 
                          Placeholder="Введите комментарий"
                          Style="resize: none; height: 14vh;"
                          @bind-Value="CreateRequest.Comment" />
            </div>
            <div class="d-flex flex-column w-50">
                @{
                    var errorText = _errors.GetValueOrDefault("services");
                    <div class="d-flex flex-row gap-2">
                        <div style="color: #312B2B;">Услуги</div>
                        @if (!string.IsNullOrWhiteSpace(errorText))
                        {
                            <div style="color: #312B2B;">(@errorText)</div>
                            <i class="bi bi-exclamation-circle text-danger"></i>
                        }
                    </div>
                }
                <div class="overflow-y-auto d-flex flex-column ps-2">
                    @if (_availableServices.Count == 0)
                    {
                        <div style="color: #312B2B;">Доступные услуги отсутствуют</div>
                    }
                    else
                    {
                        @foreach (var service in _availableServices)
                        {
                            <Checkbox DisplayText="@service.Name"
                                      Checked="_selectedServices.Contains(service.Id)"
                                      OnClick="() => SelectService(service.Id)" />
                        }
                    }
                </div>
            </div>
        </div>
        <div class="w-100 d-flex justify-content-end align-items-center gap-2">
            @if (!string.IsNullOrWhiteSpace(_createTextResult))
            {
                <div style="color: #312B2B;">@_createTextResult</div>
            }
            <Button Text="Создать" Style="width: 18%;" OnButtonClick="CreateApplication" />
        </div>
    </div>
</div>