<button type="button"
        @onclick="ButtonClick"
        disabled="@InProgress"
        class="@GetClass()"
        style="font-size: @($"{FontSize}px"); @Width @Style">
    @if (InProgress && !string.IsNullOrWhiteSpace(LoadingText))
    {
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        @($"{LoadingText}...")
    }
    else if (!string.IsNullOrWhiteSpace(Text))
    {
        @Text
    }
</button>