@using CleaningAppWeb.Components.Shared.IconText
@using CleaningAppWeb.Domain.DTOs
@using CleaningAppWeb.Domain.Enums
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<div class="application" @onclick="CardClick">
    <div class="d-flex flex-column p-3 pb-2 block-info-border-top">
        <IconText Gap="4" Icon="bi-building-fill" IconColor="#F6D200" IconSize="20" 
                  Text="@($"Уборка в {CleaningApplication.Office?.Address}")" />
        <IconText Gap="4" Icon="bi-clock-fill" IconColor="#F6D200" IconSize="20" 
                  Text="@($"{CleaningApplication.CleaningDate.ToString("dd.MM.yyyy")} {CleaningApplication.CleaningTime.ToString("HH:mm")}")" />
        <div class="application-main-text">
            Статус: @GetStatusTranslation()
        </div>
    </div>
    @if (_currentRole is not RoleType.Officer || 
         CleaningApplication.Status is not CleaningApplicationStatus.Waiting and not CleaningApplicationStatus.Expired
    )
    {
        <div class="w-100 d-flex flex-row py-1 gap-2 px-3 block-info-border-middle">
            @{
                var isOfficer = _currentRole is RoleType.Officer;
                <IconText Gap="4" Icon="bi-person-fill" IconColor="#F6D200"
                          Text="@(isOfficer ? "Исполнитель:" : "Заказчик:")" />
                @(isOfficer ? CleaningApplication.Executor?.ShortFullName : CleaningApplication.ShortClientFullName)
            }
        </div>
    }
    <div class="w-100 d-flex flex-row py-1 @(CleaningApplication.Status > CleaningApplicationStatus.InWork ? "block-info-border-middle" : "block-info-border-bottom")"
         style="background-color: #6B6B6B;">
        <div class="application-info-count">
            <span style="color: #FFFFFF;">Кабинетов:</span>
            <span style="color: #F6D200;">@CleaningApplication.RoomsCount</span>
        </div>
        <div class="application-info-count">
            <span style="color: #FFFFFF;">Услуг:</span>
            <span style="color: #F6D200;">@CleaningApplication.ServicesCount</span>
        </div>
    </div>
    @if (CleaningApplication.Status is CleaningApplicationStatus.Done)
    {
        <div class="w-100 d-flex flex-row justify-content-center py-1 block-info-border-bottom">
            <IconText Gap="4" Icon="bi-star-half" IconColor="#6B6B6B"
                      Text="@(_currentRole is RoleType.Officer ? "Можно оценить работу!" : "Ожидает оценки")" />
        </div>
    }
    @if (CleaningApplication.Status is CleaningApplicationStatus.Rated)
    {
        <div class="w-100 d-flex flex-row justify-content-center py-1 block-info-border-bottom">
            <div class="d-flex flex-row gap-1">
                Оценка:
                @for (byte i = 0; i < 5; ++i)
                {
                    <i class="bi bi-star@(i < CleaningApplication.Rating ? "-fill" : string.Empty)" 
                       style="color: @(i < CleaningApplication.Rating ? "#F6D200" : "#6B6B6B");">
                    </i>
                }
            </div>
        </div>
    }
</div>

@code {
    [Inject]
    private AuthenticationStateProvider AuthProvider { get; set; } = null!;

    [Parameter]
    public required CleaningApplicationListElement CleaningApplication { get; set; }

    [Parameter]
    public EventCallback<Guid> OnCardClick { get; set; }

    private RoleType? _currentRole = null;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthProvider.GetAuthenticationStateAsync()).User;

        if (Enum.TryParse(user.FindFirst(ClaimTypes.Role)?.Value ?? string.Empty, true, out RoleType role))
            _currentRole = role;
    }

    private string GetStatusTranslation() => CleaningApplication.Status switch
    {
        CleaningApplicationStatus.Waiting => "Ожидание",
        CleaningApplicationStatus.InWork => "В работе",
        CleaningApplicationStatus.Done => "Выполнена",
        CleaningApplicationStatus.Rated => "Оценена",
        CleaningApplicationStatus.Expired => "Просрочена",
        _ => CleaningApplication.Status.ToString()
    };

    private void CardClick()
    {
        if (OnCardClick.HasDelegate)
            OnCardClick.InvokeAsync(CleaningApplication.Id);
    }
}