<div class="w-100">
    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-label m-0">
            @Label
        </label>
    }
    <div class="input-group">
        @if (!string.IsNullOrWhiteSpace(IconStyle))
        {
            <span class="fs-5 input-group-text">
                @if (IconStyle.Contains("bi"))
                {
                    <i class="bi @IconStyle"></i>
                }
                else
                {
                    @IconStyle
                }
            </span>
        }
        <input type="tel"
               @ref="_phoneInputElement"
               value="@_phoneInput"
               placeholder="@Placeholder"
               @oninput="@HandleInput"
               inputmode="numeric"
               maxlength="18"
               class="form-control rounded-end @(_showError ? "is-invalid" : string.Empty)"
               disabled="@IsDisabled" />
        @if (_showError)
        {
            <span class="invalid-feedback m-0">@ErrorMessage</span>
        }
    </div>
</div>